<nav class="partials">
    <a href="/logout">Logout</a> /
    <a href="/edit-profile">Edit Profile</a> /
        <a href="/edit-signature">Edit Signature</a> /
    <a href="/signatures">All Signatures</a>

</nav>
