<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link rel="stylesheet" href="/public/stylesheet.css">
    </head>

    <body>
        <!-- <img src="/public/no-smile-kim.png"> -->
        <title>Petition</title>


        {{{ body }}}


        {{> footer}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/public/script.js"></script>
    </body>
</html>
