<img src="/public/happy-kim.png"><br>
<h3>안 녕 하 세 요</h3>
<h1>LOGIN!!!</h1>
Do it. You have to.
<form action="/login" method="post">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form><br>
Don't have an account with us? <a href="/register">Please register</a>.
<h2>{{> error}}</h2>
