<img src="/public/cool-kim.png"><br>
<h1>If you'd like...</h1>
You can submit a bit more information:
<h2>{{> error}}</h2>
<form action="/more-info" method="post">
    <input type="text" name="age" placeholder="Age"><br>
    <input type="text" name="city" placeholder="City"><br>
    <input type="text" name="country" placeholder="Country"><br>
    <input type="text" name="url" placeholder="Homepage"><br>
    <button type="submit">Submit</button>
</form>
