<body id="petition">
    <img src="/public/alien-kim.png">
    {{> nav}}
    <h1>We love Kim Jong-On, Our Beloved Almighty Falcon Dragon leader, but his cholesterol levels are too high.</h1>
    <h2>Sign our petition to politely encourage him to enroll in a weight-watchers program.</h2>
    Please draw your signature here:<br>
    <canvas width="600" height="150" id="signature"></canvas><br>
    <form action="/submit-sig" method="post">
        <input type="hidden" name="_csrf" value={{csrfToken}}>
    	<input type="hidden" name="signature"><br><br>
	<button type="submit">Submit</button>
    </form><br>



    <h2>{{> error}}</h2>
</body>
