<img src="/public/grumpy-kim.png"><br>
<h3>안 녕 하 세 요</h3>
<h1>REGISTER!!!</h1>
<h2>You need to before signing our petition.</h2>

<form action="/register" method="post">
    <input type="hidden" name="_csrf" value={{csrfToken}}>
    <input type="text" name="firstname" placeholder="First Name"><br>
    <input type="text" name="lastname" placeholder="Last Name"><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Sign up</button>
</form><br>
Already have an account with us? <a href="/login">Please log in</a>.
<h2>{{> error}}</h2>
