<img src="/public/angry-kim.png" class="spin"><br>
{{> nav}}
<div class="thank-you">
    <h3>바 보 !!! 죽 을 래 ???</h3>
    <h1>Idiot. Did you really think this was a petition?</h1>
    <p>You're now on our Dear Glorious Plump Leader's Extensive List of Problem People.</p><br>
    <img src="{{signature}}"><br>
    <a href="/signatures">Click here to see who else has signed.</a><br>
    <a href="/edit-profile">Click here to edit your profile.</a><br>
    <a href="/delete-sig">Click here to delete your signature.</a>
</div>
{{> error}}
